nav{
    text-align: center;
}
nav>dl>dt>a{
    color: black;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
}

nav>dl>dt>a:hover{
    color: orange;
}

h1{
    text-align: center;
    color: orange;
}

#main-img{
    margin-top: 30px;
    text-align: center;
}

#main-img:hover{
    scale: 1.5;
    transition: 0.7s;
}

p{
    word-break: normal;
}

.main-area{
    width: 900px;
}

#form-contact{
    border: 3px solid ;
    border-radius: 5px;
    border-color: green;
    width: 300px;
    padding: 15px 0px 15px 47px;
    margin: 100px 0px 0px 500px;
}

input{
    border: 2px solid rgb(112, 94, 59);
    border-radius: 5px;
}

